.background {
  @apply bg-black text-white;

  .wrapper {
    @apply flex min-h-screen w-full md:max-w-[90dvw] justify-center bg-dark-1 md:mx-auto md:py-5;
  }

  .page {
    @apply min-h-screen w-full overflow-clip border-black bg-dark-1 *:p-3 md:max-h-fit md:min-h-fit md:max-w-[30rem] md:rounded md:border-2 *:md:p-5;

    .profile-header {
      @apply grid gap-2;
      grid-template-rows: [container-start] auto [photo-start] auto [container-end] auto [photo-end info-start] auto [info-end];

      grid-template-columns: [container-start info-start] auto [photo-start] auto [photo-end] auto [container-end info-end];

      & > .photo {
        @apply flex items-center justify-center mx-auto;
        grid-area: photo;
      }

      & > .info {
        @apply grid mx-auto text-center leading-none *:my-0;
        grid-area: info;
      }

      & > .wrapper {
        @apply grid;
        grid-area: container;
        grid-template-rows: subgrid;
        grid-template-columns: subgrid;
         
        &>*{
          grid-column: container;
        }
        
      }
    }
  }
}
